---
layout: home
shareimg: '/sharex.jpg'
title:  "Crazy Nussknacker Club"
noindex: true
---

<section id="content" class="content-section ">
    <div class="container">
        <div class="row">
            <div class="col-md-2" ></div>
            <div class="col-md-8 text-center"><h2>crazy nussknacker club</h2>
                <br>
                <p>
                    Der „Crazy Nussknacker Club“ gibt Menschen mit „crazy skills“ die Möglichkeit anonym Ihre Anekdoten zu posten,
                    um darüber an interessante Aufträge zu kommen.
                    Interessenten können direkten Kontakt aufbauen zu einem Verfasser. Aufträge werden immer im Team ausgeführt.
                    Uns ist es wichtig, dass die Privatsphäre geschützt wird, weil wir ungern im Mittelpunkt stehen.
                    Wir suchen crazy kognitive Herausforderungen!<br>
                    [<a href="{{ site.url }}/kontakt.html">Mitglied werden</a>]
                </p>

            </div>
            <div class="col-md-2" ></div>

        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto"><br> <a class="btn btn-primary btn-xl js-scroll-trigger"
                                                   href="#skills">crazy skills</a></a>
            </div>
        </div>

    </div>
</section>
<section class="content-section" id="skills">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-2" ></div>
            <div class="col-md-8 text-center"><h2>crazy skills</h2>
                <br>

                {% for post in site.posts limit : 500 %}
                    {% if post.categorie contains 'skill' %}
                    [<a  href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>]
                    {% endif %}
                {% endfor %}


            </div>
            <div class="col-md-2" ></div>

        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto"><br> <a class="btn btn-primary btn-xl js-scroll-trigger"
                                                   href="#stuff">crazy stuff</a></a>
            </div>
        </div>

    </div>
</section>

<section class="content-section" id="stuff">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-2" ></div>
            <div class="col-md-8 text-center"><h2>crazy stuff</h2>
                <br>

                {% for post in site.posts limit : 500 %}
                {% if post.categorie contains 'stuff' %}
                [<a  href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>]
                {% endif %}
                {% endfor %}


            </div>
            <div class="col-md-2" ></div>

        </div>
    </div>

    {% include kooperationcontainer.html %}
</section>
