<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% if page.noindex %}
<meta name="robots" content="noindex,nofollow" />
{% endif %}

<meta property="og:image" content="https://nussknackerclub.github.io/sharex.jpg" />
<meta name="image" content="https://nussknackerclub.github.io/sharex.jpg" alt="{{ page.title | escape }}">

<meta property="og:title" content="{{ page.title | escape }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}" />

<meta property="og:image:alt" content="{{ page.title | escape }}" />
<meta property="og:description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
<meta property="og:site_name" content="{{ page.title | escape }}" />

<meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
<meta name="author" content="{{ page.author | default: site.author | strip_html | normalize_whitespace | truncate: 160 | escape }}">

<link rel="icon" href="https://nussknackerclub.github.io/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet"
      type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
<link href="{{ site.url }}/css/stylish-portfolio.css" rel="stylesheet"   type="text/css">

<title>
    {{ page.title | escape }}
</title>
