<section id="kooperation" class="content-section ">
    <div class="container  text-center">
        <div class="row">
            <div class="col-md-4">
                <a href="https://www.crack-brained.de/"  target="_blank">
                    <img src="/img/cbc.jpeg"  style="margin: 20px 20px 20px 20px;" >
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.myndun.org/"  target="_blank">
                    <img src="/img/myndun.png" style="margin: 20px 20px 20px 20px;">
                </a>
            </div>
            <div class="col-md-4"><a href="https://bughuntergroup.github.io/" target="_blank"><i class="fas fa-bug fa-6x"
                                                                                                 style="color: red; margin: 20px 20px 20px 20px;"></i></a>
                <br><h3>BUG HUNTER GROUP</h3></div>
        </div>
    </div>
    <br><br><br><br>
    <div class="container text-center">
        <div class="row">

            <div class="col-lg-10 mx-auto"> <a class="btn btn-primary btn-xl js-scroll-trigger"
                                               href="{{ site.url }}/kontakt.html">Kontakt</a>

            </div>
        </div>
    </div>
</section>