<a
        class="menu-toggle rounded " href="#" style="font-size: 20px; display: inline;"> &#x25C2; </a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a class="js-scroll-trigger" href="#page-top"><a href="#">CRAZY</a></a></li>
    <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#content">#was</a></li>
    <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#skills">#skills</a></li>
    <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#crazy">#crazy crazy</a></li>
    <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#kooperation">#kooperation</a></li>
    <li class="sidebar-nav-item"><a class="js-scroll-trigger"
                                    href="{{ site.url }}/kontakt#contact">#kontakt</a></li>
  </ul>
</nav>