---
layout: default
---
<header class="masthead d-flex " >
    <div class="container text-center my-auto"><br>
        <h1 class="mb-1">{{page.title}}</h1>
        <br> <br><br><br><a class="btn btn-primary btn-xl js-scroll-trigger" href="#post">crazy {{page.categorie}}</a></div>
    <div class="overlay"></div>
</header>
<section id="post" class="content-section ">
    <div class="container">
        <div class="row">
            <div class="col-md-2" ></div>
            <div class="col-md-8 xtext-center">
                <h2>{{page.title}} </h2>
                <br>
                <small>von crazy.nussknacker.club#{{page.author}}</small>
                <br><br>
                <p>
                    {{ content }}
                    <br><br>[<a href="{{ site.url }}/kontakt.html#{{page.author}}">Anfrage</a>]
                </p>
                <br>
                <p>
                    <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Dieses Werk ist lizenziert unter einer <a target="_blank"  rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>
                </p>
                <hr>


            </div>
            <div class="col-md-2" ></div>

        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto"><br> <a class="btn btn-primary btn-xl js-scroll-trigger"
                                                   href="#skills">crazy skills</a></a>
            </div>
        </div>

    </div>
</section>

<section class="content-section" id="skills">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-2" ></div>
            <div class="col-md-8 text-center"><h2>crazy skills</h2>
                <br>

                {% for post in site.posts limit : 500 %}
                {% if post.categorie contains 'skill' %}
                [<a  href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>]
                {% endif %}
                {% endfor %}


            </div>
            <div class="col-md-2" ></div>

        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto"><br> <a class="btn btn-primary btn-xl js-scroll-trigger"
                                                   href="#stuff">crazy stuff</a></a>
            </div>
        </div>

    </div>
</section>

<section class="content-section" id="stuff">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-2" ></div>
            <div class="col-md-8 text-center"><h2>crazy stuff</h2>
                <br>

                {% for post in site.posts limit : 500 %}
                {% if post.categorie contains 'stuff' %}
                [<a  href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>]
                {% endif %}
                {% endfor %}


            </div>
            <div class="col-md-2" ></div>

        </div>
    </div>
    <div class="container text-center">
        <div class="row">

            <div class="col-lg-10 mx-auto"> <br><a class="btn btn-primary btn-xl js-scroll-trigger"
                                               href="{{ site.url }}/kontakt.html">Kontakt</a>

            </div>
        </div>
    </div>
</section>
